{{ define "body_classes" }}course-default-list{{ end }}

{{ define "main" }}
<div class="py-5">
  <div class="container">
    <h1 class="title display-2 pb-4 border-bottom border-secondary mb-4">{{ .Title }}</h1>
    <div class="content">
      {{ .Content }}
    </div>

    <div class="row mt-4">
      {{ range .Pages }}
      <div class="col-lg-4 col-md-6">
        <div class="card rounded-0 border-0 shadow-sm mt-3">
          <div class="card-body">
            <h3 class="card-title m-0">
              <span>📂</span>
              <a class="link-danger text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h3>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

  </div>
</div>
{{ end }}