{{ define "body_classes" }}course-subsection-default-list{{ end }}

{{ define "main" }}
<div class="py-5">
  <div class="container">
    <h1 class="title display-2 pb-4 border-bottom border-secondary mb-4">{{ .Title }}</h1>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="card rounded-0 shadow-sm mb-4">
          <div class="card-header">
            <span class="fw-bold text-uppercase text-secondary">Description</span>
          </div>
          <div class="card-body p-lg-4 d-flex align-items-center gap-2 flex-wrap">
            {{ .Content }}
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        {{ range .Pages }}
        <div class="card rounded-0 border-0 shadow-sm mb-3">
          <div class="card-body">
            <h5 class="card-title d-flex align-items-center gap-3 m-0">
              <span>🧾</span>
              <a class="link-danger text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a>
              <span class="ms-auto fs-6">{{.ReadingTime}} min</span>
            </h5>
          </div>
        </div>
        {{ end }}
      </div>
    </div>

  </div>
</div>
{{ end }}